<body class="hold-transition login-page" style="min-height: 464.943px;">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-dark shadow">
      <div class="card-header text-center">
        <div class="row">
          <i class="fa fa-solid fa-paw fa-beat"></i><h1><b>Pet Shop da Leia</b></h1>
        </div>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Crie sua conta!</p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="mb-3">
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
            </div>
            <div class="mb-3">
              <div class="field">
                <%= f.label :password, "Senha" %>
                <% if @minimum_password_length %>
                  <em>(mínimo de <%= @minimum_password_length %> caracteres)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>
            <div class="row d-flex justify-content-end">
              <!-- /.col -->
              <div class="col-12 mb-2 actions">
                <%= f.submit "Criar Conta", class:"btn btn-block text-bold", style:"background-color: #A4DDED"%>
              </div>
              <!-- /.col -->
            </div>
          <% end %>
    
          <p class="mt-2 mb-1">
            <%= link_to "Esqueci minha senha", edit_user_registration_path %>
          </p>
          <p class="mb-0">
            <%= link_to "Criar nova conta", new_user_registration_path %>
          </p>
      </div>
      <!-- /.card-body -->
      <div class="card-footer rounded-bottom" style="background-color:#BEBEBE"></div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->
  </body>
