<div class="d-flex justify-content-center">
    <div class="card m-2 card-dark" style="width: 1250px;">
        <div class="card-header">
            <h3>Cadastro:</h2>
        </div>
        <%= form_with url: client_animals_path, method: :post do |form| %> 
            <div class="card-body">
                <div class="row mt-3">
                    <div class="row mt-3">
                        <div class="col">
                            <%= form.file_field :animal_photo %>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <%= form.hidden_field :client_id, value: @client_id %>
                    <div class="col">
                        <%= form.text_field :name, placeholder: "Nome" , class: "form-control" %>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <%= form.text_field :breed, placeholder: "Raça" , class: "form-control" %>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <%= form.number_field :age, placeholder: "Idade" , class: "form-control" %>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <%= form.text_field :vaccines, placeholder: "Vacinas" , class: "form-control" %>
                    </div>
                    <div class="col">
                        <%= form.text_field :deseases, placeholder: "Enfermidades" , class: "form-control" %>
                    </div>
                </div>
            </div>
            <div class="card-footer rounded-bottom" style="background-color:#BEBEBE">
                <div class="col d-flex justify-content-end">
                    <div class="m-1"><%= link_to "Voltar", client_path(@client.id), class:"btn btn-primary" %></div>
                    <div class="m-1"><%= form.submit "Cadastrar", class:"btn btn-success" %></div>
                </div>
            </div>
        <% end %>
    </div>
</div>