                                      
<div class="d-flex justify-content-center">
  <div class="card card-dark m-2 shadow " style="width: 1250px;">
      <div class="card-header">
          <div class="row">
              <div class="col align-self-center"><h3>Vendas:</h2></div>
                  <div class="col d-flex justify-content-end">
                      <span><div class="m-1"><%= link_to "Nova Venda", new_sale_path, class:"btn btn-success" %></div></span>
                      <span class="d-flex justify-content-end"><div class="m-1"><%= link_to "Voltar", root_path, class:"btn btn-primary" %></div></span>
                      <span class="d-flex justify-content-end"><div class="m-1"><%= link_to "Visualizar", preview_sales_pdf_path, class:"btn btn-primary" %></div></span>
                      <span class="d-flex justify-content-end"><div class="m-1"><%= link_to "Exportar", download_sales_pdf_path, class:"btn btn-primary" %></div></span>
                  </div>
          </div>
      </div>
      <div class="card-body">
          <table class="table">
            <thead>
              <tr> 
                <th scope="col">ID</th>
                <th scope="col">Cliente</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <% @sales.each do |sale| %>
              <tbody>
                <tr>
                  <th><%= sale.id %> </th>
                  <td><%=sale.client.name %></td>
                  <td><%=sale.product.name %></td>
                  <td><%=sale.quantity %></td>
                  <td><%=sale.total_value %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
      </div>
      <div class="card-footer rounded-bottom" style="background-color:#BEBEBE">
          <div class="col d-flex justify-content-end">
          </div>
      </div>
  </div>
</div>